*.pyc
__pycache__
.cache
auto-save-list
elpa
eshell
eln-cache
transient
recentf
smex-items
.dap-breakpoints
.lsp-session-v1
.org-id-locations
org-roam.db
projectile-bookmarks.eld
.config/fish/.nvimlog
.config/fish/config.fish.backup
/.config/fish/functions/br.fish
.config/pgcli/history
/.config/fish/completions/
/.config/fish/conf.d/
/scripts/pylocal.sh
/.config/emacs/tramp
/.config/emacs/request/
/.config/emacs/logview-cache.extmap
github-dotfiles
