[Desktop Entry]
Type=Application
Version=1.0
Exec=/home/saucoide/scripts/logout-menu
Name=Exit Menu
Categories=shutdown;reboot;restart;hibernate;logout;lock;suspend
Icon=system-log-out